<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p"

	   default-autowire="byName"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	   xmlns:aop="http://www.springframework.org/schema/aop">

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<bean id="objectMapper" class="com.fovoy.daemon.common.utils.JsonUtils"
		  factory-method="getObjectMapperInstance"/>

	<!-- 添加注解驱动 -->
	<aop:aspectj-autoproxy/>
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="mappingJacksonHttpMessageConverter"
				  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper"/>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!--  配置mvc的拦截器 可以配置多个 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!--  需要被拦截的路径 -->
			<!--计划url分层处理，例如登录相关处理就是/Login/...., 用户相关就是/User/。。。其他业务逻辑处理采用相应的手段-->
			<mvc:mapping path="/User/**"/>
			<!-- 拦截处理的interceptor -->
			<bean class="com.fovoy.daemon.common.interceptor.UserInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!--  ③：对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:prefix="/page/" p:suffix=".jsp"/>
</beans>
