<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p"

	   default-autowire="byName"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	   xmlns:aop="http://www.springframework.org/schema/aop">

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<bean id="objectMapper" class="com.fovoy.daemon.common.util.JsonUtils"
		  factory-method="getObjectMapperInstance"/>

	<!-- 添加注解驱动 -->
	<aop:aspectj-autoproxy/>
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="mappingJacksonHttpMessageConverter"
				  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper"/>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!--  ③：对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:prefix="/WEB-INF/views/" p:suffix=".jsp"/>
</beans>
